body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: white;
}




/* GÓRNA CZĘŚĆ STRONY */



.header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, rgb(229, 184, 255) 0%, hsla(196, 100%, 88%, 1) 50%, rgb(233, 195, 255));
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.pageTitle{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(73, 18, 117);
    font-size: 50px;
}

.upPhoto{
    max-width: 700px;
    box-shadow: 0px -10px 20px rgb(207, 195, 225);
    color:white;
    border-top-left-radius:75px;
    border-top-right-radius:75px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}

hr{
    margin: 0;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(162, 83, 201, 0), rgba(155, 44, 192, 0.75), rgba(162, 83, 201, 0));
}

/* TYTUŁ MENU */ 

.menuTitle{
    margin-top: 20px;
    text-align: center;
    color: rgb(91, 23, 146);
    font-size: 20px;
    padding-top: 20px;
}


/* MENU */


.menuBar{
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.album{
    margin: 5px;
    width: 170px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 14px;
    background: transparent;
    /* cursor: url('kursorBTS.png'), pointer; */
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                    7px 7px 20px 0px rgba(0,0,0,.1),
                    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}


/* własności wizualne buttona https://codemyui.com/multiple-modern-gradient-button-hover-animation/ */
.album {
    background: rgb(247,150,192);
    background: radial-gradient(circle, rgb(218, 139, 245) 0, rgb(167, 197, 235) 100%);
    height: 65px;
    border: none;
}

.album span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.album:before,
.album:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
        -1px -1px 20px 0px rgba(255,255,255,1),
        -4px -4px 5px 0px rgba(255,255,255,1),
        7px 7px 20px 0px rgba(0,0,0,.4),
        4px 4px 5px 0px rgba(0,0,0,.3);
}

.album:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.album:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.album:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
}

.albumBtnText{
    cursor: url('kursorBTS.png'), pointer;
    text-decoration: none;
    color: white;
}

.album:hover > .albumBtnText{ 
    /* change one element after hovering another */
    color: #76aef1;
}

.album:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.album:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.album span:before,
.album span:after {
    position: absolute;
    content: "";
    box-shadow:
        -1px -1px 20px 0px rgba(255,255,255,1),
        -4px -4px 5px 0px rgba(255,255,255,1),
        7px 7px 20px 0px rgba(0,0,0,.4),
        4px 4px 5px 0px rgba(0,0,0,.3);
}

.album span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.album span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.album span:hover:before {
    width: 100%;
}

.album span:hover:after {
    width: 100%;
}
  
  



/* ŚRODKOWA CZĘŚĆ STRONY */



.center{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.centralElements{
    margin: 30px;
    padding: 10px 10px;
    flex: auto;
    height: 100%;
    color: rgb(63, 11, 70);
    --borderWidth: 5px;
    background: white;
    position: relative;
    border-radius: var(--borderWidth);
}

/* https://bashooka.com/coding/27-css-border-style-animation-examples/ */

.centralElements:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(90deg, hsla(278, 89%, 35%, 1) 0%, hsla(196, 100%, 88%, 1) 100%);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}
  

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.elementsContent{
    padding: 10px;
}

.centralElement{
    width: 600px;
    text-align: center;
}

.centralPhoto{
    max-width: 500px;
    margin: 20px;
    margin-bottom: 0;
}

.sideElement{
    width: 100px;
}

span{
    white-space: pre-line;
} 

.link{
    background: rgb(238, 208, 255) 3px;
    text-decoration: none;
    padding: 7px 14px;
    cursor: url('kursorBTS.png'), pointer;
}

.link:hover{
    background: transparent;
    text-decoration: none;
    padding: 7px 14px;
    border: solid  hsla(278, 100%, 77%, 1) 2px;
}

h2{
    color: rgb(73, 18, 117);
    margin: 0;
    padding-bottom: 15px;
}






/* RANDOM SONG */

.randomSong{
    margin-bottom: 65px;
}

.randomTitle{
    padding-top: 20px;
}

.randomContent{
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.randomField{
    width: 500px;
    height: 40px;
    margin: 20px 20px 10px 20px;
    border: black solid 1px;
    font-size: 17px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(71, 6, 136);
}

.randomButton{
    border: solid white 2px;
    background: rgb(238, 208, 255) 3px;
    text-decoration: none;
    padding: 7px 14px;
    cursor: url('kursorBTS.png'), pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: rgb(63, 11, 70);
}

.randomButton:hover{
    background: transparent;
    text-decoration: none;
    padding: 7px 14px;
    border: solid  hsla(278, 100%, 77%, 1) 2px;
}






/* DOLNA CZĘŚĆ STRONY */

/* https://coolors.co/gradient-maker/d489ff-c4efff-d489ff */

.bottom{
    background: linear-gradient(90deg, hsla(278, 100%, 77%, 1) 0%, hsla(196, 100%, 88%, 1) 50%, hsla(278, 100%, 77%, 1) 100%);
}

.bottomContent{
    padding: 30px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottomIcon{
    background-color: hsla(278, 100%, 77%, 1);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    text-align: center;
}

.bottomPhoto{
    max-width: 40px;
    padding-top: 22px;
    cursor: url('kursorBTS.png'), pointer;
}

.bottomIcon:hover{
    background: transparent;
    box-shadow: none;
}
